<div class="container-fluid anchor-landingpage-products" id="landingpage-products">
		<% count = 0 %>

  <h1 class="h1-products">Featured products of this week:
    <span class="product-brand"><%= @featuredBrand %> bags
    </span> up to 30% off!!
  </h1>

  <p id="notice"><%= notice %></p>
  <%= params[:example_key] %>

  <div id="carousel-example-generic" class="carousel slide"
    data-ride="carousel" data-interval="5000">
	  <!-- Indicators -->
    <ol class="carousel-indicators">
			<% Product.where(brand: @brand).find_each do |featured|  %>

      <li data-target="#carousel-example-generic" data-slide-to="<%= count %>"
      <%= ' class="active"' if count == 0 %></li></li>
			<% count += 1 %>
			<% end  %>
    </ol>

		<% numberOfImages = 0 %>
		<% count = 0 %>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">

		<!-- Filter for the featured product page -->
			<% Product.where(brand: "TaylorMade").find_each do |featured|  %>

				<% count += 1 %>

	      <div class="item <%= " active" if count == 1 %>">
	        <p><%= image_tag(featured.image_url,  alt: "Bag caroussel image",
          class: "bag-caroussel img-responsive")%></p>

         <div class="carousel-caption product-text-box">
            <div class="product-details">
              <h3 class="landpage-product-name"><%= featured.name %></h3>
              <h4 class="landpage-product-description"><%= featured.description %></h4>
              <h3 class="landpage-product-price">Reg. price:
                <%= number_to_currency(featured.price) %> This week at:
                <span class="landpage-special-price">
                <%= number_to_currency((featured.price/1.40).round(2)) %>
                </span>
              </h3>
            </div>
          </div>
	    	</div>
      <% end  %>
      		</div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic"
      role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic"
      role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
  </div>
</div>
