<div id="product-reviews" class="product-reviews">
  <% if @product.highest_rating_comment != nil %>
    <h3 class="reviewHeaders">Reviews:</h3>
  <% else %>
    <h3 class="reviewHeaders noReviews">&larr;
    Be the first to review this product
    </h3>
  <% end %>

  <% @comments.each do |comment| %>
    <div class="row reviews">
      <br>
      <!-- Next line is removed to see if anything else is broken -->
      <p><%= comment.user.first_name %>
      <small>
        <em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em>
      </small>
      </p>

    <div class="rated" data-score="<%= comment.rating %>"></div>
      <p>"<%= comment.text %>"</p>
      <% if signed_in? && current_user.admin? %>
        <%= link_to product_comment_path(comment.product, comment),
          method: :delete, data: { confirm: 'Are you sure?' },
          class: "btn btn-default btn-circle" do %>
          <span class="glyphicon glyphicon-remove"></span>
          <% end %>
      <% end %>
    </div>
  <% end %>
</div>
