<!-- *********************************************************************** -->
<div class="col-md-3 col-xs-6 product-row">

  <% cache product do %>
  <h3 class="product-name"><%= product.name %></h3>
     <% logger.debug "Product: #{product.name}"%>


  <div class="thumbnails product-details">
    <p>
      <%= link_to product do %>
        <%= image_tag(product.image_url, alt: "Edit Entry",
        class: "bag-image img-responsive")%>    <% end %>
    </p>

    <div class="text-box">
      <p><%= product.description %></p>
      <% if @number_of_products == 0 %>
        <% @first_product_id = product.id %>
      <% end %>
    </div>

    <h2 class="product-price"><%= number_to_currency(product.price) %></h2>
    <br>

    <p class="product-link-button">
      <% if signed_in? && current_user.admin? %>
        <%= link_to product, class: "btn btn-default btn-circle" do %>
          <span class="glyphicon glyphicon-ok"></span>
        <% end %>
      <% else %>
        <%= button_to "Details", product,
            class: 'btn btn-primary btn-sm inline', :method => :get %>
      <% end %>

      <!-- Show payment form only if user is signed in -->
      <% if signed_in? %>
        <% @buying_product_name = product.name %>
        <% @buying_product_price = product.price %>
        <%= form_tag "/payments/create" do %>
          <%= hidden_field_tag(:product_id, product.id)  %>
          <%= render partial: "shared/stripe_checkout_button" %>
        <% end %>
      <% end %>
      <% if signed_in? && current_user.admin? %>

        <%= link_to edit_product_path(product),
        class: "btn btn-default btn-circle" do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>

        <%= link_to product, method: :delete, data: { confirm: 'Are you sure?' },
        class: "btn btn-default btn-circle" do %>
        <span class="glyphicon glyphicon-remove"></span>
        <% end %>
      <% end %>
    </p>
  </div>
<% end %>

</div>


