<!-- *********************************************************************** -->
<div class="container-fluid anchor-product" id="product">
  <h1 class="h1-products">Golf bags</h1>

  <% @number_of_products = 0 %>
  <% @first_product_id = 0 %>

  <% cache(cache_key_for_products) do %>
    <%= render partial: "product", collection: @products %>
  <% end %>
</div>

<div class="new_pagination">
    <%= will_paginate @products, :class => 'flickr_pagination' %>
</div>

  <div class="product-index-buttons">
  <% if signed_in? && current_user.admin? %>
    <!-- Create a new product -->
    <%= button_to "New product", new_product_path,
    class: 'btn btn-primary btn-sm inline', :method => :get %>

    <!-- Edit first product on the page -->
    <%= button_to "Edit first", edit_product_path(@first_product_id),
    class: 'btn btn-primary btn-sm inline', :method => :get %>
    <% end %>

  <!-- Go back -->
  <%= button_to "Home", root_path,
  class: 'btn btn-primary btn-sm inline', :method => :get %>
</div>


