<!-- *********************************************************************** -->
<div class="container-fluid anchor-show" id="show">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <% cache_key_for_product = @product %>
    <% redis_key_for_product = @product %>
    <% cache_key_for_visits = @product.views %>

      <h2 class="full-product-name">
        <strong><%= @product.name %></strong>
      </h2>
      <!-- Tests for logger output and it can be removed -->
      <% @test_debug = "This is a test of logger output"%>
      <% logger.debug "Product: #{@product.name}"%>
      <% logger.debug "Product: #{@test_debug}"%>

      <h6>Views:<span class="badge"><%= @product.views %></span></h6>
      <h6>Product ID: <%=@product.id %></h6>

      <!-- Caching products -->
      <% cache(cache_key_for_product) do %>

      <p><%= image_tag(@product.image_url, alt: "Edit Entry",
      class: "img-zoom full-bag-image img-responsive",
        data_zoom_image: @product.image_url) %></p>


      <% cache(cache_key_for_visits) do %>
        <h6>Views:<span class="badge"><%= @product.views %></span></h6>
      <% end %>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="product-fields">
        <h2>
          <strong>Product features:</strong>
        </h2>

        <p class="product-description">
          <strong><%= @product.description %></strong>
        </p>
        <br>
        <p>
          <strong>Type:</strong>
          <%= @product.product_type %>
        </p>
        <p>
          <strong>Brand:</strong>
          <%= @product.brand %>
        </p>
        <p>
          <strong>Color:</strong>
          <%= @product.color %>
        </p>
        <p>
          <strong>Price:</strong>
          <%= number_to_currency(@product.price) %>
        </p>

        <h3>Other features</h3>
        <p>
          <%= @product.gender %>
        </p>
        <p>
          <%= @product.top_size %>
        </p>
        <p>
          <%= @product.other_features %>
        </p>
        <p>
          <%= @product.number_of_pockets %>
        </p>

        <!-- Show payment form only if user is signed in -->
        <% if signed_in? %>
          <% @buying_product_name = @product.name %>
          <% @buying_product_price = @product.price %>

          <%= form_tag "/payments/create" do %>
          <%= hidden_field_tag(:product_id, @product.id)  %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>
        <% end %>

        <!-- Determine if reviews exist for this product and
          set an instance variable true or false -->
        <% if @reviews == nil %>
          <% @have_reviews = false %>
        <% else %>
          <% @have_reviews = true %>
        <% end %>
      </div>


      <% end %>

      <!-- Caching comments -->
      <% cache(cache_key_for_comments) do %>

      <!-- Show comments review rating here -->
      <div class="best-reviews">
        <% if @product.highest_rating_comment != nil %>
          <% if @first_comment.id != @last_comment.id %>
            <h3 class="review-headers">Best customer review</h3>
            <p class="review-user-text">Review by:
            <%= @first_comment.user.first_name %>
            </p>
            <p class="review-user-text">
            <small>
              <em><%= "#{time_ago_in_words(@first_comment.created_at)} ago" %>
              </em>
            </small>
            </p>
            <br>
            <p class="ratings inline">Rating :
              <div class="rated inline"
              data-score="<%= @first_comment.rating %>">
              </div>
            </p>
            <br>
            <p class="review-text">«<%= @first_comment.text %>»</p>

            <!-- WORST Customer review section -->
            <h3 class="review-headers">Worst customer review</h3>
            <p class="review-user-text">Review by:
            <%= @last_comment.user.first_name %></p>
            <p class="review-user-text">
            <small>
              <em><%= "#{time_ago_in_words(@last_comment.created_at)} ago" %>
              </em>
            </small>
            </p>
            <br>
            <p class="ratings inline">Rating :
              <div class="rated inline" data-score="<%= @last_comment.rating %>">
              </div>
            </p>
            <br>
            <p class="review-text">«<%= @last_comment.text %>»</p>

          <% else %>

          <!-- Only one customer review section -->
          <h3 class="review-headers">One customer review</h3>

          <!-- TEST TO DISPLAY COMMENT USER INFO -->
          <p class="review-user-text">Review by:
          <%= @first_comment.user.first_name %></p>
          <p class="review-user-text">
          <small><em><%= "#{time_ago_in_words(@first_comment.created_at)} ago" %>
          </em></small>
          </p>
          <br><br>
          <p class="ratings inline">Rating :
            <div class="rated inline" data-score="<%= @first_comment.rating %>">
            </div>
          </p>
          <br>
          <p class="review-text">«<%= @first_comment.text %>»</p>
          <% end %>

          <h3 class="review-headers">Average rating</h3>
          <p>
            <div class="rated average-rating" data-score="<%= @product.average_rating %>">
            </div>
          </p>
        <% else %>
          <h4 class="review-headers">No reviews yet on this product</h4>
        <% end %>
      </div>
    </div>
  </div>
   <% end %>  <!--End of comment caching -->

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <!-- Comments form to add comments  -->
      <%= render partial: "comments/new_comment" %>
    </div>

    <!-- Show the comments details using AJAX -->
    <div class="col-md-6 col-xs-12">
      <div id="comments" data-load="<%= product_comments_path(@product, :format => :js)%>">
      </div>
    </div>





  </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
      <!-- Edit current product -->
      <%= button_to "Edit", edit_product_path(@product),
                    class: 'btn btn-primary btn-sm', :method => :get %>
      <!-- Back to product list -->
      <%= button_to "Back", products_path,
                    class: 'btn btn-primary btn-sm inline', :method => :get %>
    </div>
  </div>
</div>


