<!DOCTYPE html>
<html>
  <head>
    <title>MyCFproject</title>


	<!-- Bootstrap CDN -->
	<link rel="stylesheet"
	 href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

   <%= stylesheet_link_tag  'application', media: 'all',
   'data-turbolinks-track': 'reload' %>

   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

	<!-- Bootstrap CDN -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!-- Metatag for mobile applications -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

  </head>

  <body>

	<nav class="navbar navbar-inverse navbar-static-top navbar-fixed-top navbar_custom"
	role="navigation">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse"
	      data-target=".navbar-collapse">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      </button>
	      <div class="projectName navbar-brand">
				<%= link_to root_path do %>
	        <%= image_tag("Logo_Interface_design_seul.png", size: "50x50",
	        alt: "Edit Entry", class: "logoimg")%>
				<% end %>

	      </div>
	    </div>

	    <div class="navbar-collapse collapse">
	      <ul class="nav navbar-nav menu">
	        <li><%= link_to "About", static_pages_about_path %> </li>
	        <li><%= link_to "Contact",  static_pages_contact_path %> </li>
	        <li><%= link_to "Products", products_path %> </li>
	        <li><%= link_to "Featured Products", static_pages_landing_page_path %>
	        </li>
	        <li><%= link_to "Orders", orders_path %> </li>

	        <li><a><%= form_tag("/products", method: "get") do %>
  						<%= text_field_tag(:q, "",class: "searchField")  %>
  						<%= submit_tag("Find product",
  						 class: "searchSubmit btn btn-primary btn-sm inline") %>
							<% end %>
						</a>
					</li>
	      </ul>

	      <ul class="nav navbar-nav menu pull-right userNavLinks">
					<% if user_signed_in? %>
						<li class="userFirstName"><%= current_user.first_name %></li>
			      <li class="userNavLinks"><%= link_to "Profile",
			       edit_user_path(current_user) %>
			      </li>
	        <% end %>

					<% if user_signed_in? %>
						<li><%= link_to("Logout", destroy_user_session_path,
						:method => :delete, class: "inline") %></li>
						<li class="userFirstName"> / </li>
						<li><%= link_to "Change pwd", edit_user_registration_path,
						 class: "inline" %></li>
					<% else %>
						<li><%= link_to("Login", new_user_session_path) %></li>
						<li class="userFirstName"> / </li>
						<li><%= link_to("Sign-up", new_user_registration_path) %></li>
					<% end %>
					<!-- </li> -->
					<!-- French/English switch - Eventual pop-up window -->
	        <!-- <li>
	        	<a class="language pull-right" href="http://localhost:3000/French">FR</a>
	        </li> -->
	       </ul>
	      </div>

	  </div>
	</nav>

	<!-- Flash to display a notice to users or any alerts -->
	<% if notice %>
		<p class="notice"><%= notice %></p>
  <% end %>
	<% if alert %>
	  <div id="alert-area">
	  	<p class="alert alert-danger"><%= alert %></p>
	  </div>
  <% end %>

	<!-- Display all partial pages -->
	<%= yield %>

	<footer>
  &copy; 2017 Interface Design Web
	<div class="container-fluid footerclass anchorfooter" id="footer">
	  <div class="row" id="footerpage">
	    <div class="col-xs-12 col-sm-6 col-md-4">
	    <!-- <div class="col-md-4 col-xs-8"> -->
	      <h3>My social links</h3>
	      <ul class="social-links">
	        <li>
	        	<a href="http://linkedin.com/in/yves-loiseau-66980312" target="_blank">
			        <%= image_tag("LinkedIn.png", size: "20x20",
			         alt: "LinkedIn tag")%>
	        	</a></li>
	        <li>
	        	<a href="https://twitter.com/interface_y" target="_blank">
			        <%= image_tag("social-twitter_v1.png", size: "20x20",
			         alt: "Twitter tag")%>
        		</a></li>
	        <li>
	        	<a href="https://www.facebook.com/InterfaceDesignweb"target="_blank">
			        <%= image_tag("Facebook.png", size: "20x20",
			         alt: "Facebook tag")%>
        		</a></li>
	        </ul>
	    </div>
	  </div>
	</div>
	</footer>
</body>
</html>
